header {
  padding: 0 var(--space-3);
  text-align: end;
}

@media only screen and (min-width: 576px) {
  header {
    margin: 0px auto;
    width: calc(var(--breakpoint-sm) - var(--space-4));
  }
}

@media only screen and (min-width: 768px) {
  header {
    width: calc(var(--breakpoint-md) - var(--space-4));
  }
}

@media only screen and (min-width: 1024px) {
  header {
    width: calc(var(--breakpoint-lg) - var(--space-4));
  }
}

h1,
h2 {
  margin: 0px;
}

h1 span.first-name {
  font-weight: 400;
  color: var(--pale-blue);
}

h1 span.last-name {
  font-weight: 300;
  margin: -6px;
}

h2 {
  font-weight: 100;
  font-size: 1.35em;
}
